.button {
  text-align: center;
  text-decoration: none;
  width: 30%;
  padding: 20px 30px;
  background: #4c5d6b;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: #000000;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}
