.container {
  width: 70%;
  margin: 50px auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.button {
    display: flex;
    justify-content: center;
}
